@model IEnumerable<Order>
@{
    ViewBag.Title = "Orders";
    Layout = "_AdminLayout";
}
@if (Model.Count() > 0)
{
<table class="table table-bordered table-striped">
    <tr><th>Name</th><th>Postal</th><th colspan="2">Details</th><td></td></tr>
    @foreach (Order o in Model)
    {
    <tr>
        <td>@o.Name</td>
        <td>@o.Postal</td>
        <th>Product</th>
        <th>Quantity</th>
        <td class="text-center">
            <form asp-action="DeleteOrder" method="post">
                <a asp-action="EditOrder" class="btn btn-sm btn-warning"
                   asp-route-productId="@o.OrderID">
                    Edit
                </a>
                <input type="hidden" name="OrderID" value="@o.OrderID" />
                <button type="submit" class="btn btn-danger btn-sm">
                    Delete
                </button>
            </form>
        </td>
    </tr>
        @foreach (CartLine line in o.Lines)
        {
            <tr>
                <td colspan="2"></td>
                <td>@line.Product.Name</td>
                <td>@line.Quantity</td>
                <td></td>
            </tr>
        }        
    }
    </table>
}
else
{
    <div class="text-center">No Orders</div>
}